DDI/DDI.UI.Web/Connected Services/Reporting/DXReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DXReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49490/DXReportService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49490/DXReportService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49490/DXReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:49490/DXReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DevExpress.DocumentServices.ServiceModel.DataContracts" />
      <xsd:import schemaLocation="http://localhost:49490/DXReportService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DevExpress.XtraPrinting" />
      <xsd:import schemaLocation="http://localhost:49490/DXReportService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:49490/DXReportService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DevExpress.XtraReports.Parameters" />
      <xsd:import schemaLocation="http://localhost:49490/DXReportService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:49490/DXReportService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/DevExpress.XtraPrinting.Native" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportService_ClearDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearDocument" />
  </wsdl:message>
  <wsdl:message name="IReportService_ClearDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_StartExport_InputMessage">
    <wsdl:part name="parameters" element="tns:StartExport" />
  </wsdl:message>
  <wsdl:message name="IReportService_StartExport_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartExportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetExportStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExportStatus" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetExportStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExportStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetExportedDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExportedDocument" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetExportedDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExportedDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetReportParameters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportParameters" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetReportParameters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportParametersResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_StartBuild_InputMessage">
    <wsdl:part name="parameters" element="tns:StartBuild" />
  </wsdl:message>
  <wsdl:message name="IReportService_StartBuild_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartBuildResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_StopBuild_InputMessage">
    <wsdl:part name="parameters" element="tns:StopBuild" />
  </wsdl:message>
  <wsdl:message name="IReportService_StopBuild_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopBuildResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetBuildStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildStatus" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetBuildStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPage" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPageResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetPages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPages" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetPages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPagesResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetDocumentData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentData" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetDocumentData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentDataResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_StartPrint_InputMessage">
    <wsdl:part name="parameters" element="tns:StartPrint" />
  </wsdl:message>
  <wsdl:message name="IReportService_StartPrint_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartPrintResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_StopPrint_InputMessage">
    <wsdl:part name="parameters" element="tns:StopPrint" />
  </wsdl:message>
  <wsdl:message name="IReportService_StopPrint_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopPrintResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetPrintStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintStatus" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetPrintStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetPrintDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintDocument" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetPrintDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetLookUpValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLookUpValues" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetLookUpValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLookUpValuesResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportService">
    <wsdl:operation name="ClearDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IExportService/ClearDocument" message="tns:IReportService_ClearDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExportService/ClearDocumentResponse" message="tns:IReportService_ClearDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartExport">
      <wsdl:input wsaw:Action="http://tempuri.org/IExportService/StartExport" message="tns:IReportService_StartExport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExportService/StartExportResponse" message="tns:IReportService_StartExport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExportStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IExportService/GetExportStatus" message="tns:IReportService_GetExportStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExportService/GetExportStatusResponse" message="tns:IReportService_GetExportStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExportedDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IExportService/GetExportedDocument" message="tns:IReportService_GetExportedDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExportService/GetExportedDocumentResponse" message="tns:IReportService_GetExportedDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportParameters">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetReportParameters" message="tns:IReportService_GetReportParameters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetReportParametersResponse" message="tns:IReportService_GetReportParameters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartBuild">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/StartBuild" message="tns:IReportService_StartBuild_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/StartBuildResponse" message="tns:IReportService_StartBuild_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopBuild">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/StopBuild" message="tns:IReportService_StopBuild_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/StopBuildResponse" message="tns:IReportService_StopBuild_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetBuildStatus" message="tns:IReportService_GetBuildStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetBuildStatusResponse" message="tns:IReportService_GetBuildStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetPage" message="tns:IReportService_GetPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetPageResponse" message="tns:IReportService_GetPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPages">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetPages" message="tns:IReportService_GetPages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetPagesResponse" message="tns:IReportService_GetPages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentData">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetDocumentData" message="tns:IReportService_GetDocumentData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetDocumentDataResponse" message="tns:IReportService_GetDocumentData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartPrint">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/StartPrint" message="tns:IReportService_StartPrint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/StartPrintResponse" message="tns:IReportService_StartPrint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopPrint">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/StopPrint" message="tns:IReportService_StopPrint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/StopPrintResponse" message="tns:IReportService_StopPrint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrintStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetPrintStatus" message="tns:IReportService_GetPrintStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetPrintStatusResponse" message="tns:IReportService_GetPrintStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrintDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetPrintDocument" message="tns:IReportService_GetPrintDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetPrintDocumentResponse" message="tns:IReportService_GetPrintDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLookUpValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetLookUpValues" message="tns:IReportService_GetLookUpValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetLookUpValuesResponse" message="tns:IReportService_GetLookUpValues_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportService" type="tns:IReportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearDocument">
      <soap:operation soapAction="http://tempuri.org/IExportService/ClearDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartExport">
      <soap:operation soapAction="http://tempuri.org/IExportService/StartExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExportStatus">
      <soap:operation soapAction="http://tempuri.org/IExportService/GetExportStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExportedDocument">
      <soap:operation soapAction="http://tempuri.org/IExportService/GetExportedDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportParameters">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetReportParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartBuild">
      <soap:operation soapAction="http://tempuri.org/IReportService/StartBuild" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopBuild">
      <soap:operation soapAction="http://tempuri.org/IReportService/StopBuild" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildStatus">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetBuildStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPage">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPages">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetPages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentData">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetDocumentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartPrint">
      <soap:operation soapAction="http://tempuri.org/IReportService/StartPrint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopPrint">
      <soap:operation soapAction="http://tempuri.org/IReportService/StopPrint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrintStatus">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetPrintStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrintDocument">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetPrintDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLookUpValues">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetLookUpValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DXReportService">
    <wsdl:port name="BasicHttpBinding_IReportService" binding="tns:BasicHttpBinding_IReportService">
      <soap:address location="http://localhost:49490/DXReportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>